sudo: required

language: c

os:
  - linux
compiler:
  - gcc

addons:
    # For Linux, make sure we have some extra packages that we like to
    # build with
    apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
          - autoconf
          - automake
          - libtool
          - gcc-5

cache:
  directories:
    - mpich
    - mpich-3.2.1

# upgrade packages
before_install:
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 1
#  - test -n $CC && unset CC
#  - test -n $CXX && unset CXX

# install mpi
install:
  - bash ci/travis/install_mpi.sh
  - ls $TRAVIS_BUILD_DIR/mpich/
  - export PATH=$TRAVIS_BUILD_DIR/mpich/bin:$PATH
  - export LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/mpich/lib:$TRAVIS_BUILD_DIR/mpich/lib64:$LD_LIBRARY_PATH
  - echo $PATH

before_script:
  - ./autogen.sh
  - mkdir build
  - cd build


# build instructions
script:
  - ../configure --disable-stack-protector
  - make -j 4 CC=mpicc